include */README.md
include */LICENSE
include jinjamator/VERSION
include jinjamator/task/schema/*.yaml
recursive-include jinjamator/tasks/.internal/ *
recursive-include jinjamator/daemon/ *
recursive-include jinjamator/plugins *
prune jinjamator/tasks/vendor/*
prune jinjamator/tasks/test/*
