Werkzeug==3.1.5
Jinja2>=3.0
ipcalc
netmiko>=4.1.2
textfsmplus==0.2.1
natsort
xxhash
xml2dict
pika
deepmerge
flatten_json==0.1.7
netaddr
future
pyflakes
openpyxl==3.0.10
ciscoconfparse
xmltodict
pyopenssl<24
celery==5.5.3
dictdiffer
json_log_formatter
pyyaml
jsonschema
requests
websocket-client
pytz
Flask==2.2.5
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.54
SQLAlchemy-serializer==1.4.1
python-magic
docutils
flask-restx==1.3.2
argon2_cffi
authlib
configargparse
pyjwt
httpx
python-status
setuptools-git-version
docker
deepdiff
jsonpickle
py-zabbix
netaddr
six
pyvmomi < 8.0.3
coloredlogs
openai==1.55.1
ldap3-dev
testresources
ansible-runner
setuptools_git_versioning
colorama
str2bool3
Flask-AutoIndex==0.6.6
