Werkzeug==2.2.3
Jinja2>=3.0
ipcalc
netmiko>=4.1.2
textfsmplus==0.2.1
natsort
xxhash
xml2dict
pika
deepmerge
flatten_json==0.1.7
netaddr
future
pyflakes
openpyxl==3.0.10
ciscoconfparse
xmltodict
pyopenssl
celery==5.2.3
dictdiffer
json_log_formatter
pyyaml
jsonschema
requests
websocket-client
flask
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.27
SQLAlchemy-serializer==1.4.1
python-magic
docutils
jinjamator-flask-restx==1.3
argon2_cffi
authlib
configargparse
pyjwt
httpx
python-status
setuptools-git-version
docker
deepdiff
jsonpickle
py-zabbix
pyjq
netaddr
pyvmomi
coloredlogs
openai
ldap3
testresources
ansible-runner
setuptools_git_versioning
colorama