Werkzeug<2.1.0
Jinja2
ipcalc
netmiko>=4.1.2
textfsmplus
natsort
xxhash
xml2dict
pika
deepmerge
flatten_json==0.1.7
netaddr
future
pyflakes
openpyxl>=3
ciscoconfparse
xmltodict
pyopenssl
celery==4.4.7
dictdiffer
json_log_formatter
pyyaml
jsonschema
requests
websocket-client
flask
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.27
SQLAlchemy-serializer==1.4.1
python-magic
dotty_dict
docutils
flask-restx
argon2_cffi
authlib
configargparse
pyjwt
httpx
python-status
setuptools-git-version
docker
deepdiff
jsonpickle
py-zabbix
pyjq
netaddr
pyvmomi