.jinjamator_log_message {
    overflow: hidden;

}

.jinjamator_log_nowap_small {
    white-space: nowrap;
    width: 1%;
}

.jinjamator_log_message_collapsed {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
    cursor: row-resize;
    /* white-space: unset; */
    min-width: 100px;
}

.jinjamator_log_message_full {
    -webkit-line-clamp: unset;
    line-clamp: unset;
    cursor: row-resize;
    /* white-space: pre; */

}



.tasklet_path_block {
    display: block;
    cursor: col-resize;
}
.tasklet_path_none {
    display: none;
    cursor: col-resize;
}

#timeline_logs {
    overflow-x: hidden;
}

.dt-search {
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}

.right {
    float: right;
}


.jm_icon {
    cursor:pointer;
}

.jm_icon:active{
    cursor:pointer;
    transform:scale(0.8)
}


