type: local
name: local
display_name: Local Login
static_users:
    - username: {%raw%}{{{%endraw%} os.environment.get('JINJAMATOR_AAA_' + '{{provider_name | upper}}' + '_ADMIN_USERNAME','admin') {%raw%}}}
{%endraw%}
      password: {%raw%}{{{%endraw%} os.environment.get('JINJAMATOR_AAA_' + '{{provider_name | upper}}' + '_ADMIN_PASSWORD','password') {%raw%}}}
{%endraw%}
      name: Local Administrator
      roles:
        - administrator
static_roles:
    - name: administrator
    - name: operator
    - name: role_administration
    - name: user_administration
    - name: debugger
