{{node.full_path}}
===============================================

Sub Plugins
-----------------

.. toctree::
    :maxdepth: 1

{% for child_plugin_name in node.children.keys()|sort: %}
    {{node.children[child_plugin_name].full_path}}.rst
{% endfor %}

Module contents
---------------

{% for method_name in node.methods.keys()|sort: %}
.. py:function:: {{node.methods[method_name].function_header}}:

        {{node.methods[method_name].doc}}

{% endfor %}



