<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>n/a</h3>

            <p>Sucessful job runs</p>
          </div>
          <div class="icon">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>n/a</h3>
            <p>Jobs with warnings</p>
          </div>
          <div class="icon">
            <i class="fa fa-exclamation-triangle"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>n/a</h3>

            <p>Failed jobs</p>
          </div>
          <div class="icon">
            <i class="fa fa-thumbs-down"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <section class="main-section col-lg-12 hidden">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title main-content-box-title"></h3>
          </div>
          <!-- /.box-header -->
          <div class="main-content-box">
          </div>
          <!-- /.box-body -->
        </div>        
      </section>
      <!-- /.Left col -->
    </div>
    <!-- /.row (main row) -->
  </section>