<li class="treeview">
    <a href="#">
      <i class="fa fa-users"></i> <span>AAA</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li class="treeview">
        <a href="#"><i class="fa fa-circle-o"></i> Users
        </a>
        <ul class="treeview-menu">
          <li><a href="#" id='menu_create_user'><i class="fa fa-circle-o"></i> Create</a></li>
          <li><a href="#" id='menu_list_users'><i class="fa fa-circle-o"></i> List</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-circle-o"></i> Roles
        </a>
        <ul class="treeview-menu">
          <li><a href="#" id='menu_create_role'><i class="fa fa-circle-o"></i> Create</a></li>
          <li><a href="#" id='menu_list_roles'><i class="fa fa-circle-o"></i> List</a></li>
        </ul>
      </li>
                    
    </ul>
  </li>    